#my-card {
  border: none;
  transition: 0.5s;
  position: relative;
}

.heart {
  font-size: 30px;
  color: rgb(238, 172, 172);
  position: absolute;
  right: 16px;
}
#wish {
  font-size: 30px;
}

.red-heart {
  font-size: 30px;
  color: rgb(187, 47, 47);
  position: absolute;
  right: 16px;
}

.fa-heart:hover {
  color: rgb(187, 47, 47);
  cursor: pointer;
}

#my-card:hover {
  -webkit-box-shadow: -7px 4px 36px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 4px 36px -17px rgba(0, 0, 0, 0.75);
  box-shadow: -7px 4px 36px -17px rgba(0, 0, 0, 0.75);
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.card-category__price {
  display: flex;
  flex-direction: column;
}

.card-price__ratings {
  display: flex;
  align-items: center;
  margin-top: -17px;
}

.card__price {
  color: #fb5555;
  font-size: 1.5rem;
  font-weight: 300;
}

.card__ratings {
  margin-top: -10px;
  display: inline-block;
  background: #5bda85;
  padding: 0px 4px;
  border-radius: 2px;
  font-weight: 500;
  color: white;
  margin-left: 10px;
}

.card__ratings i {
  color: rgb(219, 83, 83);
  margin-left: 2px;
}

#my-card:hover #btn-invisible {
  visibility: visible;
}

#btn-invisible {
  visibility: hidden;
}

@media screen and (max-width: 758px) {
  .card-img-top {
    width: 100%;
    height: 40vw;
    object-fit: cover;
  }
  #my-card {
    margin: 20px;
  }
}

@media screen and (max-width: 528px) {
  .card-img-top {
    width: 100%;
    height: 50vw;
    object-fit: cover;
  }
}

@media (min-width: 758px) and (max-width: 993px) {
  .card-img-top {
    width: 100%;
    height: 26vw;
    object-fit: cover;
  }
}
