.carousel-img-top {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.carousel {
  height: 50vh;
}

.carousel-row {
  margin-top: -4px;
}

.product-section {
  padding-top: 10px;
}

@media screen and (max-width: 898px) {
  .carousel-row {
    margin-top: -14px;
  }
}

@media screen and (max-width: 500px) {
  .carousel {
    height: 40vh;
  }
  .carousel-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
}

@media screen and (max-width: 400px) {
  .carousel {
    height: 27vh;
  }
  .carousel-img-top {
    width: 100%;
    height: 27vh;
    object-fit: cover;
  }
}
